<!DOCTYPE html>
<html>
<head>
    <title>Dodaj Područje</title>
</head>
<body>
    <h1>Dodaj Novo Područje</h1>
    <form action="/podrucja" method="post">
        <label for="Naziv">Naziv:</label>
        <input type="text" id="Naziv" name="Naziv" required>
        <button type="submit">Spremi</button>
    </form>
    <a href="/podrucja">Nazad</a>
</body>
</html>
