<!-- views/vrste_zivotinja/new.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Add Vrste Zivotinja</title>
</head>
<body>
    <h1>Add Vrste Zivotinja</h1>
    <form action="/vrste_zivotinja" method="POST">
        <label for="Naziv">Naziv:</label>
        <input type="text" id="Naziv" name="Naziv" required>
        <br>
        <label for="Opis">Opis:</label>
        <input type="text" id="Opis" name="Opis" required>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
