<!DOCTYPE html>
<html>
<head>
    <title>Add New Hrana</title>
</head>
<body>
    <h1>Add New Hrana</h1>
    <form action="/hrana" method="post">
        <label>Naziv:</label>
        <input type="text" name="Naziv" required>
        <br>
        <label>Tip:</label>
        <input type="text" name="Tip" required>
        <br>
        <label>Kolicina:</label>
        <input type="number" name="Kolicina" required>
        <br>
        <button type="submit">Add Hrana</button>
    </form>
</body>
</html>
