<!DOCTYPE html>
<html>
<head>
    <title>Add Vrsta odrzavanja</title>
</head>
<body>
    <h1>Add Vrsta odrzavanja</h1>
    <form action="/vrsta_odrzavanja" method="POST">
        <label for="Naziv">Naziv:</label>
        <input type="text" id="Naziv" name="Naziv" required>
        <br>
        <label for="Opis">Opis:</label>
        <input type="text" id="Opis" name="Opis" required>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>

