<!-- views/zaposlenici/new.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Add Zaposlenici</title>
</head>
<body>
    <h1>Add Zaposlenici</h1>
    <form action="/zaposlenici" method="POST">
        <label for="Ime_i_prezime">Ime i Prezime:</label>
        <input type="text" id="Ime_i_prezime" name="Ime_i_prezime" required>
        <br>
        <label for="JMBG">JMBG:</label>
        <input type="text" id="JMBG" name="JMBG" required>
        <br>
        <label for="Datum_rodjenja">Datum Rodjenja:</label>
        <input type="date" id="Datum_rodjenja" name="Datum_rodjenja" required>
        <br>
        <label for="Datum_zaposlenja">Datum Zaposlenja:</label>
        <input type="date" id="Datum_zaposlenja" name="Datum_zaposlenja" required>
        <br>
        <label for="Pozicija">Pozicija:</label>
        <input type="text" id="Pozicija" name="Pozicija" required>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
